repos:
- repo: https://github.com/trufflesecurity/trufflehog
  rev: v3.91.2
  hooks:
  - id: trufflehog

- repo: https://github.com/astral-sh/ruff-pre-commit
  rev: v0.14.8
  hooks:
  - id: ruff-check
  - id: ruff-format

- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v6.0.0
  hooks:
  - id: trailing-whitespace
  - id: end-of-file-fixer
  - id: check-yaml
    args: [--allow-multiple-documents]
  - id: check-merge-conflict
  - id: check-added-large-files
    args: ['--maxkb=1024']
