on:
  schedule:
  - cron: '0 0 * * 0' # Runs every Sunday at midnight
  workflow_dispatch:

permissions:
  contents: read
  pull-requests: write
  issues: write

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5.0.1
    - name: Self-hosted Renovate
      uses: renovatebot/github-action@v44.0.3
