on:
  schedule:
  - cron: 0 0 * * 0 # Runs every Sunday at midnight
  workflow_dispatch:

name: Renovate

jobs:
  renovate:
    permissions:
      statuses: write
      contents: write
      pull-requests: write
      issues: write
      checks: write
      repository-projects: write
      actions: write

    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Self-hosted Renovate
      uses: renovatebot/github-action@v44.0.4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
