on:
  schedule:
  - cron: 0 0 * * 0 # Runs every Sunday at midnight
  issues:
    types:
    - edited
  push:
    branches:
    - main
  workflow_dispatch:

name: Renovate

jobs:
  renovate:
    if: |
      github.event_name != 'issues' ||
      (
        github.event_name == 'issues' &&
        github.event.action == 'edited' &&
        github.actor != 'github-actions[bot]' &&
        contains(github.event.issue.title, 'Dependency Dashboard')
      )
    runs-on: ubuntu-latest
    permissions:
      statuses: write
      contents: write
      pull-requests: write
      issues: write
      checks: write
      repository-projects: write
      actions: write
      workflows: write

    steps:
    - name: Checkout
      uses: actions/checkout@v5
    - name: Self-hosted Renovate
      uses: renovatebot/github-action@v44.0.4
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
      env:
        LOG_LEVEL: debug
        RENOVATE_CONFIG: |
          {
            "platform": "github",
            "endpoint": "https://api.github.com",
            "repositories": ["${{ github.repository }}"],
            "extends": ["config:recommended"],
            "onboarding": true,
            "requireConfig": "optional"
          }
